{% extends "sidebar.html" %}
{% block title %}One Population Mean{% endblock %}
{% block content %}


<div class = "container" style = "font-family: 'times New Roman', Times, serif; font-size: large;">
    <h2>Comparing two population means (variances unknown but equal)</h2>
    <p class = "left-aligned" style = "text-align:left; font-size: larger;"> We compare means of two populations. The sample of population 1 is independent of 
        the sample of population 2. We apply these samples and statistical tools to test whether the mean of a population 1 is equal 
        to the mean of population 2. We also estimate the confidence inteval for the difference to means. We assume that the 
        standard deviations are equal but unknow. 
    </p>
    <p class = "left-aligned" style = "text-align:left; font-size: larger;">We consider the sample mean \(\bar{x_1}\) of population 1 whose population mean is \(\mu_1\) and 
         population standard deviation \(\sigma_1\) and sample mean \(\bar{x_2}\) of population 2 whose population mean is \(\mu_2\) and 
         population standard deviation \(\sigma_2\)
    </p>

    <p class = "left-aligned" style = "text-align:left; font-size: larger;">We consider the difference \(\bar{X_1} - \bar{X_2}\) that estimates 
            the difference in population means \(\mu_1 - \mu_2\). The random variable \(\bar{X_1} - \bar{X_2}\) follows a normal distribution
            with mean \(\mu_1 - \mu_2\) and the standard deviation is \(\sqrt{\frac{\sigma_1^2}{n_1} + \frac{\sigma_2^2}{n_2}}\).</br>

            So, \(\displaystyle z = \frac{(\bar{X_1} - \bar{X_2}) - (\mu_1 - \mu_2)}{\sqrt{\frac{\sigma_1^2}{n_1} + \frac{\sigma_2^2}{n_2}}}\) follows
            a standard normal distribution, where \(\bar{X_1}\) and \(\bar{X_2}\) are the sample means,
            \(\sigma_1\) and \(\sigma_2\) are the population standard deviations, and \(n_1\) and \(n_2\) are the sample sizes.

            <h4 class = "left-aligned">We consider the following cases to estimate the standard deviations.</h4>
            <ul style = "text-align:left; font-size: larger;"> 
                <li>When two population standard deviations are equal but unknown, (\(\sigma_1 = \sigma_2 = \sigma\)).

                    \begin{align*} 
                    z &= \frac{(\bar{X_1} - \bar{X_2}) - (\mu_1 - \mu_2)}{\sqrt{\left( \frac{\sigma_1^2}{n_1} + \frac{\sigma_2^2}{n_2} \right)}}\\
                    &= \frac{(\bar{X_1} - \bar{X_2}) - (\mu_1 - \mu_2)}{\sqrt{\sigma^2\left( \frac{1}{n_1} + \frac{1}{n_2} \right)}}\\
                    &= \frac{(\bar{X_1} - \bar{X_2}) - (\mu_1 - \mu_2)}{\sqrt{s_p^2\left( \frac{1}{n_1} + \frac{1}{n_2} \right)}}\\
                    &= \frac{(\bar{X_1} - \bar{X_2}) - (\mu_1 - \mu_2)}{s_p\sqrt{\left( \frac{1}{n_1} + \frac{1}{n_2} \right)}}

                    \end{align*}
                    Where we estimate the common population standard deviation \(\sigma\) using the sample standard deviations
                    \(s_p = \sqrt{\frac{(n_1 - 1)s_1^2 + (n_2 - 1)s_2^2}{n_1 + n_2 - 2}}\):
                Thus, the random variable, 
                    \[t = \frac{(\bar{X_1} - \bar{X_2}) - (\mu_1 - \mu_2)}{s_p\sqrt{\left( \frac{1}{n_1} + \frac{1}{n_2} \right)}}\] 
                    follows a t-distribution with \(n_1 + n_2 - 2\) degrees of freedom.
                    <br>
            </ul>
            <h3 class = "left-aligned"><strong>\(\underline{ (1-\alpha)100\% \quad \text{Confidence Interval for} \quad \mu_1-\mu_2}\):</strong></h3>
            <ul> <li> 
                <p style = "text-align:left; font-size: larger;"> 
                    CI = \(\displaystyle 
                        \Bigg( (\bar{x_1} - \bar{x_2}) - t_{\alpha/2}.s_p.\sqrt{\frac{1}{n_1}+\frac{1}{n_2}}, \quad 
                    (\bar{x}_1 - \bar{x}_2) + t_{\alpha/2}.s_p.\sqrt{\frac{1}{n_1}+\frac{1}{n_2}} \Bigg)\) </li>  
                <strong>or</strong>                                      
                <li> 
                    CI = \(\Big( (\bar{x}_1 - \bar{x}_2) - ME,\quad (\bar{x}_1 - \bar{x}_2) + ME \Big)\), 
                </li> 
                <br>
                    Where,
                        <ul style = "font-size: larger;">
                            <li>\(ME = t_{\alpha/2}.s_p.\sqrt{\frac{1}{n_1}+\frac{1}{n_2}}\) = margin of error: </li>
                            <li>\(t_{\alpha/2}\) is the $t$-value for which the area to the right of it under densisty curve is \(\alpha/2\)  </li>
                            <li> \(s_p = \sqrt{\frac{(n_1 - 1)s_1^2 + (n_2 - 1)s_2^2}{n_1 + n_2 - 2}} \) = pooled sample standard deviation.</li>
                        </ul>
                </p>
            </li></ul>

            <br> <br>

    <div style = "margin-top: 20px; justify-content:center; background-color: aliceblue;
        padding: 15px; border-radius: 10px; text-align: center; margin: auto; width: fit-content;">
        <label for="mu0"><h4>Provide the following values to calculate and plot CI:</h4></label> <br><br>
        <strong> Sample Mean (\(\bar{x}_1\)):  </strong><input type = "number"  id = "sample_mean1" value = "0" style="width: 100px; border-radius: 5px;" required> &nbsp; &nbsp;&nbsp; &nbsp;
        <strong> Sample Mean (\(\bar{x}_2)\): </strong> <input type = "number" id = "sample_mean2" value = "0" style="width: 100px; border-radius: 5px;" required> &nbsp; &nbsp;&nbsp; &nbsp;<br> <br>
        <strong> Sample size, \(n_1\): </strong> <input type = "number" id = "sample_size1" value = "20" style="width: 100px; border-radius: 5px;" required> &nbsp; &nbsp;&nbsp; &nbsp;
        <strong> Sample size, \( n_2\): </strong> <input type = "number" id = "sample_size2" value = "20" style="width: 100px; border-radius: 5px;" required> &nbsp; &nbsp;&nbsp; &nbsp;<br> <br>
        <strong> Sample std, \(s_1\): </strong> <input type = "number" id = "sample_std1" value = "1" style="width: 100px; border-radius: 5px;" required> &nbsp; &nbsp;&nbsp; &nbsp;
        <strong> Sample std, \(s_2 \): </strong> <input type = "number" id = "sample_std2" value = "1" style="width: 100px; border-radius: 5px;" required> &nbsp; &nbsp;&nbsp; &nbsp;<br> <br>
        <strong> Sig. Level, \(\alpha\): </strong> <input type = "number" id = "alpha_ci" value = "0.1" style="width: 100px; border-radius: 5px;" required> &nbsp; &nbsp;&nbsp; &nbsp;
        <strong> DF \((n_1 + n_2 - 2)\): </strong> <input type = "number" id = "DF" value = "38" style="width: 100px; border-radius: 5px;" required> &nbsp; &nbsp;&nbsp; &nbsp;
        
        
        <br><br>
        <button  id = "calculate-btn" onclick="CalculateCI_twomean_equalvar()" class = "fancy-button" style="width: 200px; border-radius: 5px;">Calculate CI</button>
        
        <br><br>
        <hr style = "border: 3px solid blakc;">
        <p id="ci-result"></p>
    </div>


</div>







<div class = "container" style = "font-family: 'times New Roman', Times, serif; font-size: larger;">
<h3 class = "left-aligned"> Hypothesis Testing (pooled t-test:) </h3>

    <p class = 'left-aligned' style = "text-align:left; font-size: larger;"> We state the hypothesis to prove that if two means are equal or one is greater than the other.


        <ol style = "text-align:left; font-size: larger;"> 
            <li><strong> Two-tailed Test:</strong> </li>
            <ul >
                <li>\(H_0 : \quad \mu_1 = \mu_2\) &nbsp; &nbsp; or &nbsp; &nbsp; \(\mu_1-\mu_2 = 0\)</li>
                <li>\(H_a : \quad \mu_1 \neq \mu_2\) &nbsp; &nbsp; or &nbsp; &nbsp; \(\mu_1 - \mu_2 \neq 0\)</li>
            </ul>

            <li><strong> Left-tailed Test:</strong> </li>
            <ul >
                <li>\(H_0 : \quad \mu_1 = \mu_2\) &nbsp; &nbsp; or &nbsp; &nbsp; \(\mu_1 = \mu_2\)</li>
                <li>\(H_a : \quad \mu_1 < \mu_2\) &nbsp; &nbsp; or &nbsp; &nbsp; \(\mu_1-\mu_2 <0 \)</li>
            </ul>

            <li><strong>Right-tailed Test: </strong></li>
            <ul >
                <li>\(H_0 : \quad \mu_1 = \mu_2\) &nbsp; &nbsp; or &nbsp; &nbsp; \(\mu_1 = \mu_2\)</li>
                <li>\(H_a : \quad \mu_1 > \mu_2\) &nbsp; &nbsp; or &nbsp; &nbsp; \(\mu_1-\mu_2>0\)</li>
            </ul>
        </ol>

<p class = "left-aligned">
 </br>

</p>



<h3 class = "left-aligned">We have the following values:</h3>
    <ul>
        <li> Sample sizes: \(n_1, n_2\).</li>
        <li> Degree of Freedom (DF) = \(n_1 + n_2 - 2\)</li>
        <li> Sample means: \(\bar{x}_1, \bar{x}_2\)</li>
        <li> Sample standard deviations: \(s_1, s_2\).</li>
        <li> Population means: \(\mu_1, \mu_2\).</li>
        <li> Significance level: \(\alpha\).</li>
    </ul>
   
    <h3 class = "left-aligned">We find the following values:</h3>
    <ul>
        <li> Test statistic: \(
        t_{\text{test}} =\displaystyle \frac{(\bar{x}_1 - \bar{x}_2) - (\mu_1 - \mu_2)}{s_p\sqrt{\left( \frac{1}{n_1} + \frac{1}{n_2} \right)}}
        = \displaystyle \frac{(\bar{x}_ - \bar{x}_2)}{s_p\sqrt{\left( \frac{1}{n_1} + \frac{1}{n_2} \right)}}
            \) (under the null hypothesis, (since \(\mu_1  = \mu_2  \))) </li>
        <li> Critical value: \(t_{\text{crit}}\)</li>
        <li> P-value: \(p\)</li>
        
    </ul>
    

    <h3 class = "left-aligned">Conclusion:</h3>
        <ul>
            <li>Do not reject \(H_0\) if Test Statistic, \(t_{\text{test}}\) is in the non-rejection region. Else 
                reject \(H_0\) in favor of alternative hypothesis.
            </li>
            <b>OR</b>
            <br>
            <li> Do not reject \(H_0\) if P-Value is bigger than \(\alpha\). Else reject \(H_0\) in favor of alternative hypothesis.</li> 
       </ul>
    
       <br> <br>

    <div style = "margin-top: 20px; justify-content:center; background-color: aliceblue;
        padding: 15px; border-radius: 10px; text-align: center; margin: auto; width: fit-content;">
        <label for="mu0"><h4><strong>Provide the following values to calculate values and plot:</strong></h4></label> <br><br>
        <strong> Sample Mean (\(\bar{x_1}\)):  </strong><input type = "number"  id = "hypo_sample_mean1" value = "0" style="width: 100px; border-radius: 5px;" required> &nbsp; &nbsp;&nbsp; &nbsp;
        <strong> Sample Mean (\(\bar{x_2})\): </strong> <input type = "number" id = "hypo_sample_mean2" value = "0" style="width: 100px; border-radius: 5px;" required> &nbsp; &nbsp;&nbsp; &nbsp;<br> <br>
        <strong> Sample size, \(n_1\): </strong> <input type = "number" id = "hypo_sample_size1" value = "20" style="width: 100px; border-radius: 5px;" required> &nbsp; &nbsp;&nbsp; &nbsp;
        <strong> Sample size, \( n_2\): </strong> <input type = "number" id = "hypo_sample_size2" value = "20" style="width: 100px; border-radius: 5px;" required> &nbsp; &nbsp;&nbsp; &nbsp;<br> <br>
        <strong> Sample std, \(s_1\): </strong> <input type = "number" id = "hypo_sample_std1" value = "1" style="width: 100px; border-radius: 5px;" required> &nbsp; &nbsp;&nbsp; &nbsp;
        <strong> Sample std, \(s_2 \): </strong> <input type = "number" id = "hypo_sample_std2" value = "1" style="width: 100px; border-radius: 5px;" required> &nbsp; &nbsp;&nbsp; &nbsp;<br> <br>
        <strong> Sig. Level, \(\alpha\): </strong> <input type = "number" id = "hypo_alpha_ci" value = "0.1" style="width: 100px; border-radius: 5px;" required> &nbsp; &nbsp;&nbsp; &nbsp;
        <strong> DF \((n_1 + n_2 - 2)\): </strong> <input type = "number" id = "hypo_DF" value = "38" style="width: 100px; border-radius: 5px;" required> &nbsp; &nbsp;&nbsp; &nbsp;
        
        </br> </br>
    
                <label> <strong>Select Hypothesis Type: </strong> </label>
                <select name = "Type" id = "Type" required>
                    <option value="two-tailed" >Two-tailed</option>
                    <option value="left-tailed" >Left-tailed</option>
                    <option value="right-tailed">Right-tailed</option>
                </select>
        
        </br> </br>
        <br><br>
        <button onclick="hypotesting_twomeans_equalvar()" class = "fancy-button" style="width: 200px; border-radius: 5px;">Calculate Values</button>
        
        <br><br>
        <hr style = "border: 3px solid black;">
        <p id="ci-result-hypo"></p>
        <img id="twopopmeans-varequal-plot" src="" style="width:600px; border-radius: 10px; border:1px solid #ccc;">
    </div>
          
</div>



{% endblock %}


{% block extra_js %}
<script src="{{ url_for('static', filename='js/diff_popmean_equalvar.js') }}"></script>
{% endblock %}