{% extends "sidebar.html" %}
{% block content %}

<div class = "wrapper">
<div class = "container">
                            <h2>t-Distribution: </h2>


                            
    <div  id = "ci-result-container" style = "margin-top: 20px; background-color: aliceblue;
        padding: 30px; border-radius: 10px; text-align: left; margin:auto; font-size:large"">
    
        <h3 class = "left-aligned">t-distribution:</h3>
        <p class = "left-aligned">
        The t-distribution is like z-distribution, with the density curve that is bell-shaped symmetric with respect to vertical line through 0.
        The distribution has mean of 0 and stanard deviation of 1. Both tails of the curve extend to infinity. But the tails of 
        t-distribution are thicker than that of z-distribution, which reflects increased 
        uncertainty. 
        </p>



    <p class = "left-aligned">The area under the density curve is 1. P-value represents the area of a region
        under the curve which is shaded blue.  t-score is plotted along the horizontal axis as the red dot. 
        Here, 
        <ul>
            <li><b> t-score: </b> This is the value of the t-statistic you want to evaluate. This value is plotted 
                along the horizontal axis as the red dot. You can find the t-score when you know the P-value and the degrees of freedom (df).
            </li>
            <li><b> P-value: </b>This value 
                    represents the area under the curve to the right of the t-score and is shaded blue in the plot.
                For \(t_0\), the p-value is given by \(p(t \leq t_0)\). </br>
                If you want to find the area to the right of \(t_0\), </br>
                    \(p(t\geq t_0) = 1 - p(t\leq t_0)\)
            </li>
        </ul> 
    </div>
    <br> <br>


    <div  id = "ci-result-container" style = "margin-top: 20px; background-color: aliceblue;
        padding: 30px; border-radius: 10px; text-align: left; margin:auto; font-size:large"">  
        <h3 class = "left-aligned" >Provide the following values:</h3>
        <ul>
            <li>
                Provide t-score and degree of freedom (df) to find P-value (leave P-value box blank)
            </li>
            <p> OR </p>
            <li>
                Provide P-value and degree of freedom (df) to find t-score (leave t-score box blank)
            </li>
        </ul>
    <div style = "margin-top: 20px; justify-content:center; background-color: rgb(228, 224, 234);
        padding: 15px; border-radius: 10px; text-align: center; margin: auto; width: fit-content;">
        <strong>t-score: <input type="number" id="t-score" step="any" style="width: 100px; border-radius: 5px;"> </strong> &nbsp;&nbsp; or &nbsp;&nbsp;
        <strong>Degrees of Freedom (df): <input type="number" id="df" step="any" style="width: 100px; border-radius: 5px;"> </strong> &nbsp;&nbsp; or &nbsp;&nbsp;
        <strong>P-value: <input type="number" id="p-value" step="any" style="width: 100px; border-radius: 5px;"> </strong>
        <br> <br>
        <button onclick="calculateTDistribution()" class="fancy-button" style="width: 200px; border-radius: 5px;"> Calculate </button>
    </div>
    <br> <br>

    <div id="tp-results"  style="display: grid;place-items: center;"></div>
    
</div>
</div>





{% endblock %}



{% block extra_js %}
<script src="{{ url_for('static', filename='js/distributions.js') }}"></script>
{% endblock %}